<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ShopOnline.Web</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="beautyproducts">
                <span class="oi oi-home" aria-hidden="true"></span> Beauty
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="furniture">
                <span class="oi oi-home" aria-hidden="true"></span> Furniture
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="electronics">
                <span class="oi oi-home" aria-hidden="true"></span> Electronics
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shoes">
                <span class="oi oi-home" aria-hidden="true"></span> Shoes
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
